* {
  box-sizing: border-box;
  font-family: "Share Tech Mono", monospace;
}

body {
  padding: 0;
  margin: 0;
  /* background: linear-gradient(to right, #00aaff, #00ff6c); */
  background-image: url(https://images.unsplash.com/photo-1542435503-956c469947f6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1);
  background-position: center;
  background-size: cover;
  /* background-color: rgba(0, 0, 0,0.5) */
}
/* body img {
    opacity: 0.2;
} */

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}
.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.equal {
  grid-row: span 3;
}
.output {
  grid-column: 1/-1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand,
.output .current-operand {
  color: rgba(255, 255, 255, 0.75);
  font-weight: normal;
  font-size: 2rem;
}
